body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(21, 189, 177, 0.7);
  padding: 0.5vw;
  color: white;
  margin-bottom: 4vw;
  height: 7vw;
}

header img {
  margin-right: 2vw;
  width: 5vw;
}

header h2 {
  font-weight: 300;
  font-size: 2vw;
}

.card {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 2vw 0;
}

.location-img {
  min-width: 18vw;
  height: auto;
  border-radius: 15px;
}

.card-text {
  padding-left: 2vw;
}

.location-info {
  display: flex;
  align-items: center;
  margin-bottom: 0.5vw;
}

.map-pin {
  width: 1vw;
  height: auto;
}

.country {
  padding-left: 10px;
  letter-spacing: 3px;
  margin: 0;
} 

.location-info a {
  padding-left: 20px;
  color: #918E9B;
}

.card h1 {
  font-size: 3.5vw;
  margin: 0;
  margin-bottom: 2vw;
}

.date {
  font-weight: bold;
  margin: 0;
  margin-bottom: 1vw;
}

.description {
  margin: 0;
}

.card,
hr {
  width: 65%;
  max-width: 1200px;
}

hr {
  opacity: 0.25;
}

footer {
  margin-top: 10vw;
  background-color: rgba(21, 189, 177, 0.7);
  color: white;
  padding: 3vw;
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 3rem;
}

footer a {
  color: white;
}

@media (max-width: 768px) {

  header {
    margin-bottom: 8vw;
  }

  header h2 {
    font-size: 3vw;
  }

  .location-img {
    min-width: 32vw;
  }

  .card,
  hr {
  width: 90%;
  } 

  .card h1 {
    margin-top: 10px;
  }

  .map-pin {
    width: 2vw;
  }
}

@media (max-width: 576px) {

  header {
    height: 18vw;
  }

  header h2 {
    font-size: 6vw;
  }

  header img {
    width: 12vw;
  }

  .card {
    flex-direction: column;
  }

  .card-text {
    margin: 5vw 0;
  }

  .card-text h1 {
    font-size: 10vw;
  }

  .location-img {
    width: 95%;
  }
}
